:root {
  --blu-mare: #0a6e8c;
  --ulivo-c: #a8b888;
  --ulivo-s: #6b7c4f;
  --terracotta: #d97d54;
}
/* genericStyle.css oppure LoginForm.module.css */
.sfondo {
  background-image: url("/sfondo.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  filter: brightness(1); /* ← 1 = normale, > 1 = più chiaro */
}

/* #main {
  padding:;
} */

.blu-mare {
  background-color: #0a6e8c;
}

.ulivo-s {
  color: #6b7c4f;
}

.ulivo-c {
  color: #a8b888;
}

.calce {
  color: #e8e0d0;
}

.link-hover:hover {
  cursor: pointer;
  color: var(--terracotta) !important;
}

main {
  margin-top: var(--navbar-height, 0px);
  /* fallback se la variabile non è settata */
}

 /* BOTTONE BLUE PER FORMS */
.role-button {
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #edfdfd;
  color: #666;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 100%;
}

.role-button-active {
  background: linear-gradient(
    135deg,
    var(--lp-primary),
    var(--lp-primary-light)
  );
  color: white;
}